body {
    background-color: #F8F8FF;
}
p {
    color : red;
    text-align : center;
    font-family: 'Prompt', sans-serif;
    font-size : 50px;
    
} 

table, td, th,subject {
    
    text-align : center;
    border: 1px solid red;
} 

table {
    border-collapse: collapse;
    background-color: #FFFFCC;
    align : center;
    width: 80%;
    
}

th {
    background-color : #CCFF00;
    height: 30px;
    color : black;
}
td {
    height : 20px;
}

#subject {
    background-color : #FFFF33;
    color :black;
    
}


.center {
    margin-top : 5%;
    margin-left: 7%;
    width: 85%;
}