body {
    background-color: #f9f8f6;
}
p {
    color : red;
    text-align : center;
    font-family: 'Prompt', sans-serif;
    font-size : 50px;
} 

table, td, th,subject {
    
    text-align : center;
    border: 1px solid red;
} 

table {
    border-collapse: collapse;
    background-color: #FFFFCC;
    align : center;
    width: 80%;
    
}

th {
    height: 30px;
    color : black;
}
td {
    height : 50px;
}
#subject {
    background-color : #FFFF33;
    color :black;
    
}
.center {
    margin-left: 7%;
    width: 85%;
}